@import '~antd/dist/antd.css';

body {
  margin-left: 10%;
}
.labelWidth {
  width: 100%;
}

.ant-calendar-picker-input.ant-input {
  line-height: 1.5;
  /* margin-left: 11%; */
}

.tdWidth {
  padding: 24px
}